spring:
  freemarker:
    template-loader-path: "classpath:/templates"
    suffix: ".ftl"
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/communal_property_registry}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
  security.user: # ToDo remove, when will be migrating to multi user system, after demo
    name: ${ADMIN_USERNAME:admin}
    password: ${ADMIN_PASSWORD:admin}
  data:
    web.pageable.one-indexed-parameters: true
  activemq:
    in-memory: true

application:
  tomtom:
    api:
      key: ${TOMTOM_KEY:""}
