* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    background: #FAFAFA;
    color: #253951;
    font-family: Arial, sans-serif;
}

#wrapper {
    width: 96vw;
    height: 95vh;
    border-radius: .3em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

[v-cloak], .v-cloak--hidden {
    display: none;
}

/*===== HEADER =====*/
header {
    position: relative;
    height: 2.4em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow: 0 1px 5px #c4c4c4;

    color: #fff;
    background: #253951;
}

header > img {
    width: 2.2em;
    height: 2.3em;
    margin: .1em .5em 0 1vw;
    cursor: pointer;
}

.header__title {
    display: inline;
    margin: 0;
    padding: 0;
    font-family: "Javanese Text", sans-serif;
    text-shadow: 0 0 2em #f3f358;
}

.header__city {
    margin: 0;
    position: absolute;
    right: 1vw;
    font-style: italic;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* ==== PROPERTIES SECTION ==== */
.properties {
    width: 54%;
    height: 100%;
    padding: 1em .1em;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.properties__search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}

.properties-report-btn {
    white-space: nowrap;
    width: max-content;
    text-decoration: none;
    color: #E8F2FC;
    background-color: #253951;
    padding: .4em 1em;
    border-radius: 3em;
    transition: .2s linear;
    margin: auto;
}

.properties-report-btn:hover {
    color: #fff;
    background-color: #7f9d40;
}

.properties__management {
    height: 2em;
    position: relative;
    display: flex;
    align-items: center;
}

#category__filter, #status__filter {
    height: 2em;
    max-width: 31%;
    width: min-content;
    margin-right: .5em;
    background-color: #C1CDDA;
    color: #000;
    border: 0;
    outline: none;
    transition: .3s;
}

#category__filter[disabled], #status__filter[disabled] {
    opacity: .6;
}

.show-all-btn {
    display: inline-block;
    margin: 0;
    text-decoration: underline;
    transition: .3s linear;
    cursor: pointer;
}

.switch-btn {
    border: 1px solid #FAFAFA;
    border-radius: 3em;
    background: none;
    color: #E8F2FC;

    display: none;
    position: fixed;
    top: .25em;
    right: 1em;
    padding: .1em .8em;
    z-index: 1;
}

.switch-btn:hover {
    color: #253951;
    background: #E8F2FC;
}

.properties-pagination {
    width: 14%;
    height: 2em;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 .1em 0 auto;
    z-index: 2;
}


.properties-pagination__info {
    font-size: 14px;
}

#prev-btn, #next-btn {
    display: block;
    font-size: 1.2em;
    position: relative;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    transition: .2s linear;
}

#prev-btn {
    left: 0;
}

#next-btn {
    right: 0;
}

#prev-btn:not(:disabled):hover:after, #next-btn:not(:disabled):hover:after {
    content: "";
    width: 1.6em;
    height: 1.6em;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -50%);
    border-radius: 50%;
    background-color: #c4c4c4;
    z-index: -1;
}

#prev-btn:not(:disabled):hover:after {
    transform: translate(-45%, -50%);
}


/*==== PROPERTY ====*/
.property-items {
    width: 100%;
    height: 100%;
    border: 3px solid #C1CDDA;
    border-radius: 0 .3em .3em .3em;
    background: #fff;
    padding: 10px;
    overflow-y: scroll;
}

.properties__notfound {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 21px;
    margin-top: 1em;
    color: #666666;
}

.fa-ellipsis-h {
    margin-left: .1em;
}

.property {
    width: 100%;
    min-height: 10em;
    height: auto;
    margin-bottom: .5em;
    border-radius: 0 .8em .8em 0;
    box-shadow: 1px 1px 5px #c4c4c4;
    overflow: hidden;
    display: flex;
    position: relative;
}

.property > img {
    display: block;
    width: 30%;
    margin-right: 0;
    opacity: .9;
    cursor: pointer;
}

.property-data {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;

    border-radius: 0 .8em .8em 0;
    padding: 0 8.5em 0 .5em;
    overflow: hidden;
}

.property__title {
    display: inline;
    font-size: 23px;
}

.property__title:after {
    content: " - ";
    font-weight: normal;
    font-size: 16px;
}

.property__address {
    font-size: 14px;
    color: #666666;
    font-style: italic;
    margin-bottom: 0;
}

.property-area-main {
    display: inline-flex;
    justify-content: flex-start;
    margin: 0;
}

.property__area, .property__area_transferred {
    display: inline;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.property__area_transferred:after {
    content: " /";
}

.property-description {
    font-size: 14px;
    margin: .3em;
}

.property-description > li > span {
    font-style: italic;
    font-weight: 600;
}

.property__footer {
    margin-top: auto;
}

.property__attach {
    color: #253951;
    font-size: 14px;
    padding: .1em 1em;
    margin: .3em 0 .8em 0;

    background-color: #c6dcf5;
    text-decoration: none;
    border: 1px solid #6689b3;
    border-radius: .8em;
}

.property__attach_disabled {
    display: none;
}

.property__status {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 9em;
    width: 100%;
    font-size: 15px;
    border-radius: 0 .8em 0 .3em;
    padding: .2em 0;
    text-align: center;
}

.property__amount {
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
    position: absolute;
    right: 1em;
    bottom: 0;
    margin-bottom: .6em;
}


/* ==== SEARCH ==== */
.search-form {
    width: 65%;
    position: relative;
}

.search-field {
    height: 2.8em;
    width: 100%;
    border: 2px solid #C1CDDA;
    border-radius: .3em;
    padding-left: .5em;
    transition: .1s linear;
}

.search-field:focus {
    border: 2px solid #38557a;
    box-shadow: 1px 1px .4em #adc1dd;
    outline: none;
}

.search-btn {
    position: absolute;
    right: 2%;
    top: 50%;

    background: transparent;
    color: #253951;
    font-size: 25px;
    border: 0;
    border-radius: 50%;
    outline: none;

    transform: translateY(-50%);
    cursor: pointer;
}

.search-btn:hover {
    font-size: 28px;
}


/* === Modal ===*/
.img-modal, .attachment-modal {
    width: 100vw;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    overflow: hidden;
}

.attachment-modal-items {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2em 0;
    overflow-y: scroll;
}

.img-modal > img {
    width: 50%;
    height: 70%;
    border: 5px solid #FAFAFA;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    cursor: pointer;
}

.img-modal:before, .attachment-modal:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #253951;
    position: fixed;
    left: 0;
    top: 0;
    opacity: .9;
    z-index: -1;
}

.modal-close {
    position: absolute;
    left: 70%;
    top: .1em;
    border: 0;
    background-color: transparent;
    font-size: 35px;
    font-weight: 300;
    -webkit-text-stroke: 3px #253951;
    cursor: pointer;
    z-index: 1002;
    color: #ff6060;
}

.img-modal-close {
    left: 78%;
    top: 8%;
    -webkit-text-stroke: 3px #354b65;
}

.attachment-modal > div {
    box-shadow: 2px 2px 10px #253951;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
    opacity: 0;
}


/* ==== MAP ==== */
.map-section {
    width: 44%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em .1em;
}

#map {
    width: 100%;
    height: 68%;
    border: 3px solid #C1CDDA;
    border-radius: .3em;
}

.marker__icon {
    font-size: 35px;
}


/* === Stats === */
.stats {
    width: 100%;
    height: 30%;

    border: 3px solid #C1CDDA;
    border-radius: .3em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.table {
    text-align: center;
    position: relative;
    font-size: 12px;
}

.table * {
    color: #253951;
}

.table > thead > tr > th {
    position: sticky;
    top: 0;
    background-color: #FAFAFA;
    padding-top: 1em;
    padding-bottom: 1em;
    white-space: nowrap;
}

.table > thead > tr > th {
    box-shadow: inset 0 0 #fff, 0 2px #C1CDDA;
}

.vertical-scroll {
    overflow-y: scroll;
    height: 80vh;
}

.return-back-button {
    margin-left: 1vw;
    margin-top: 1vh;
}


/*====== ANIMATIONS =====*/

.property__img_loading{
    width: 40%;
}

.property-data_loading {
    padding-right: 0;
    border-radius: 0;
    width: 70%;
}
.property-data_loading > p{
    width: 90%;
    height: 1em;
    margin-top: 1em;
}

.property-data_loading > p:nth-child(2){
    width: 60%;
}

.property__img_loading, .property-data_loading > p{
    background: linear-gradient(90deg, #f1f1f1 0%, #e1eaff 50%, #f1f1f1 100%) 100%;
    background-size: 1000% 100%;

    -webkit-animation: beforePropertyLoad 1s ease-in-out infinite;
    -moz-animation:    beforePropertyLoad 1s ease-in-out infinite;
    -o-animation:      beforePropertyLoad 1s ease-in-out infinite;
    animation:         beforePropertyLoad 1s ease-in-out infinite;
}

@keyframes beforePropertyLoad{
    0%{
        background-position: 0 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}



/*====== RESPONSIVE =====*/

@media (max-width: 1360px) {

    .property__title {
        font-size: 19px;
    }

    .property-area-main {
        position: absolute;
        right: .5em;
        top: 1.7em;
    }

    .property-area-main > * {
        font-size: 14px;
    }

    .property__status {
        font-size: 14px;
    }

    .img-modal > img {
        width: 70%;
    }

    .img-modal-close {
        left: 88%;
    }
}

@media (max-width: 1200px) {

    .map-section {
        display: flex;
    }

    .property-description {
        margin-top: .1em;
        font-size: 13px;
    }

    .property__attach {
        font-size: 13px;
        padding: .1em .5em;
    }

    .table td, .table th {
        font-size: 10px;
    }

}

@media (max-width: 1024px) {

    .header__city {
        display: none;
    }

    .switch-btn {
        display: block;
    }

    .map-section {
        display: none;
        width: 100%;
    }

    .properties {
        width: 100%;
    }

    .property__status {
        font-size: 13px;
    }

    .property__attach {
        font-size: 14px;
    }

    .property-area-main {
        display: inline-flex;
        justify-content: flex-start;
        position: static;
        margin: 0;
    }

    .property__area, .property__area_transferred {
        display: inline;
        font-size: 16px;
        font-style: italic;
        margin: 0;
        padding: 0;
    }

    .property__status {
        font-size: 15px;
    }

    .property-description {
        font-size: 15px;
    }

    .properties-pagination {
        width: 12.5%;
        margin: 0 .8em 0 auto;
    }

    .img-modal > img {
        width: 90%;
        height: 40%;
    }

    .attachment-modal-items > .card {
        width: 50%;
    }

    .attachments-modal-close {
        left: 80%;
    }

    .img-modal-close {
        left: 95%;
        top: 25%;
    }

}

@media (max-width: 700px) {

    .property {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .property__img_loading{
        height: 60%;
    }

    .property > img, .property__img_loading{
        width: 100%;
        height: 15em;
        min-height: 5em;
        box-shadow: 1px -3px 5px #c4c4c4;
    }

    .property-data {
        width: 100%;
        height: 40%;
        margin-top: .3em;
        padding-right: 0;
        border: 0;

        overflow: auto;
    }

    .property_loading > .property-data{
        width: 100%;
        height: 40%;
    }

    .property-description {
        margin: 0 0 .3em 0;
        font-size: 13px;
    }

    .property__status {
        opacity: .8;
    }

    .img-modal-close {
        left: 92%;
    }

}


@media (max-width: 540px) {

    header {
        font-size: 14px;
    }

    .search-field {
        height: 2.3em;
    }

    .search-btn {
        font-size: 20px;
    }

    .search-btn:hover {
        font-size: 22px;
    }

    .properties-report-btn {
        font-size: 13px;
    }

    .switch-btn {
        padding: .04em .8em .2em .8em;
        top: .22em;
    }

    .properties__management {
        font-size: 13px;
        margin-bottom: -1px;
    }

    .properties-pagination {
        width: 14%;
        font-size: 18px;
    }

    .attachment-modal-items {
        padding-top: 3em;
    }

    .attachment-modal-items > .card {
        width: 80%;
    }

    .attachments-modal-close, .img-modal-close {
        left: 90%;
    }

}

@media (max-width: 470px) {

    #wrapper {
        height: 95%;
    }

    .header__title {
        font-size: 15px;
    }

    .search-form {
        width: 100%;
        margin-bottom: .8em;
    }

    .properties__search {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .switch-btn {
        padding: .1em .8em .1em .8em;
        font-size: 14.5px;
        color: #253951;
        background: #ffffff;
        border: 2px solid #C1CDDA;

        top: 95%;
        left: 50%;
        transform: translateX(-50%);
    }

    .switch-btn:hover {
        color: #FAFAFA;
        background: #253951;
        border: 2px solid #253951;
    }

    .properties__management {
        margin-top: .3em;
    }

    .properties-report-btn {
        padding: .4em 3%;
        margin: .3em 0 0 0;
    }

    .show-all-btn {
        margin: 0;
        position: absolute;
        padding: .3em 3%;
        top: -126%;
        right: 7em;
    }

    .properties-pagination {
        width: 4em;
        top: -115%;
        right: 0;
    }

    #status__filter {
        max-width: 48%;
        width: 100%;
    }

    #category__filter {
        position: absolute;
        right: 0;
        max-width: 48%;
        margin-right: 0;
    }

    .property-items {
        border-top-right-radius: 0;
    }

    .property {
        height: unset;
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
    }

    .property_loading{
        height: 420px;
    }

    .property__title {
        font-size: 17px;
        margin-bottom: 0;
    }

    .property-area-main > * {
        font-size: 13px;
    }

    .property__address {
        flex-basis: 100%;
        font-size: 13px;
        margin-bottom: .3em;
    }

    .property-data {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0;
        padding: .2em .4em;
    }

    .property__footer {
        flex-direction: column-reverse;
    }

    .property__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .property__attach {
        position: static;
        font-size: 14px;
        padding: .2em .8em;
    }

    .property__amount {
        position: static;
        font-size: 15px;
        margin: 0;
    }

    .property-description {
        padding-left: .5em;
        list-style-type: none;
    }

    .img-modal-close {
        top: 23%;
    }

}

@media (max-width: 319px) {
    .properties-report-btn {
        font-size: 12px;
    }

    .show-all-btn {
        top: 0%;
        right: 0;
    }

    #category__filter {
        left: 30%;
        width: 25%;
    }

    #status__filter {
        width: 25%;
    }
}

