
/* ==== CATEGORIES SECTION ==== */

.categories__list {
    width: 100%;
    margin: auto;
}

.categories__pages {
    margin-left: 33vw;
    margin-top: 20px;
    max-width: 100%;
}

.categories__list td, th {
    text-align: center;
}

.return-back-button {
    margin: 5%;
    position: absolute;
}

.return-back-button a {
    padding: 0px 42px;
    font-size: 25px;
}